<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>

  <%= link_to 'https://www.facebook.com/mallory.idenrobertson', :class => "btn btn-default btn-lg" do %>
    <span class="fa fa-facebook"></span>
  <% end %>

  <%= link_to 'http://www.instagram.com/ohohraptor', :class => "btn btn-default btn-lg" do %>
    <span class="fa fa-instagram"></span>
  <% end %>
