@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "users";
@import "votes";

.user-info {
	margin-top: 9px;
	margin-right: 5px;
	display: inline-block;
}

.nav {
	margin-top: 5px;
}